<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/mvc
          http://www.springframework.org/schema/mvc/spring-mvc.xsd
          http://www.springframework.org/schema/tx
          http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
          http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context.xsd
          http://www.springframework.org/schema/aop  
          http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">

    <bean id="io" class="com.mycompany.dvdlibrarylou.ui.UserIOImpl"/>
   
    <bean id="view" class="com.mycompany.dvdlibrarylou.ui.DvdLibraryLouView">
        <constructor-arg ref="io"/>
    </bean>
   
    <bean id="dao" 
          class="com.mycompany.dvdlibrarylou.dao.DvdLibraryLouDaoImpl"/>
   
    <bean id="auditDao" 
          class="com.mycompany.dvdlibrarylou.dao.DvdLibraryLouAuditDaoImpl"/>
    
    <bean id="loggingAdvice" class="com.mycompany.dvdlibrarylou.advice.LoggingAdvice">
        <constructor-arg ref="auditDao"/>
    </bean>
    
    <aop:config>
        <aop:aspect ref="loggingAdvice">
            <aop:after-returning
                method="createAuditEntry"
                pointcut="execution(* com.mycompany.dvdlibrarylou.service.DvdLibraryLouServiceLayer.createDvd(..))"/>
         
            <aop:after-returning
                method="createAuditEntry"
                pointcut="execution(* com.mycompany.dvdlibrarylou.service.DvdLibraryLouServiceLayer.editDvd(..))"/>
            
            <aop:after-returning
                method="createAuditEntry"
                pointcut="execution(* com.mycompany.dvdlibrarylou.service.DvdLibraryLouServiceLayer.removeDvd(..))"/>
        </aop:aspect>
    </aop:config>
   
    <bean id="service" 
          class="com.mycompany.dvdlibrarylou.service.DvdLibraryLouServiceLayerImpl">
        <constructor-arg ref="dao"/>
        <constructor-arg ref="auditDao"/>           
    </bean>
   
    <bean id="controller" 
          class="com.mycompany.dvdlibrarylou.controller.Controller">
        <constructor-arg ref="service"/>
        <constructor-arg ref="view"/>
    </bean>
</beans>
